body {
	background-image: url(images/site_background.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.centerbox {
	background-color: #FFFFFF;
	width: 1200px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border: 2px;
	border-style: solid;
	border-color: #91B428;
	border-radius: 10px;
	-webkit-box-align: center;
	-webkit-box-flex: 1.0;
}
.topbox {
	width: 1200px;
	height: 41px;
	background-color: #91B428;
	margin-top: -32px;
	background: #91b428; /* Old browsers */
	background: -moz-linear-gradient(top, #91b428 0%, #cfe096 50%, #91b428 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91b428), color-stop(50%,#cfe096), color-stop(100%,#91b428)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #91b428 0%,#cfe096 50%,#91b428 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #91b428 0%,#cfe096 50%,#91b428 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #91b428 0%,#cfe096 50%,#91b428 100%); /* IE10+ */
	background: linear-gradient(to bottom, #91b428 0%,#cfe096 50%,#91b428 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91b428', endColorstr='#91b428',GradientType=0 ); /* IE6-9 */
}
h3 {
	font-size: 22pt;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #FFFFFF;
	text-align: center;
}
.tagline {
	font-size: 18pt;
}
.logo {
	margin-bottom: 5px;
	margin-top: -30px;
	margin-left: 3px;
}
.search-bar {
	width: 145px;
	height: 25px;
	background-color: #960066;
	font-family: arial;
	color:#FFFFFF;
	padding-left: 5px;
	padding-top: 5px;
	margin-left: auto;
	margin-right: 150px;
	margin-top: 5px;
	-moz-box-shadow: 5px 3px 5px #B75D99, -3px -3px 5px #333333;
	-webkit-box-shadow: 5px 3px 5px #B75D99, -3px -3px 5px #333333;
	box-shadow: inset 5px 3px 5px #B75D99, inset -3px -3px 5px #333333;
	background: -moz-linear-gradient(left, rgba(150,0,102,1) 0%, rgba(150,0,102,0.61) 51%, rgba(150,0,102,0.24) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(150,0,102,1)), color-stop(51%,rgba(150,0,102,0.61)), color-stop(100%,rgba(150,0,102,0.24))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(150,0,102,1) 0%,rgba(150,0,102,0.61) 51%,rgba(150,0,102,0.24) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(150,0,102,1) 0%,rgba(150,0,102,0.61) 51%,rgba(150,0,102,0.24) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(150,0,102,1) 0%,rgba(150,0,102,0.61) 51%,rgba(150,0,102,0.24) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(150,0,102,1) 0%,rgba(150,0,102,0.61) 51%,rgba(150,0,102,0.24) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#960066', endColorstr='#3d960066',GradientType=1 ); /* IE6-9 */
}
.footerbar {
	width: 1200px;
	height: 41px;
	background-color: #91B428;
	background: #91b428; /* Old browsers */
	background: -moz-linear-gradient(top, #91b428 0%, #cfe096 50%, #91b428 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91b428), color-stop(50%,#cfe096), color-stop(100%,#91b428)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #91b428 0%,#cfe096 50%,#91b428 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #91b428 0%,#cfe096 50%,#91b428 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #91b428 0%,#cfe096 50%,#91b428 100%); /* IE10+ */
	background: linear-gradient(to bottom, #91b428 0%,#cfe096 50%,#91b428 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91b428', endColorstr='#91b428',GradientType=0 ); /* IE6-9 */
	margin-bottom: 75px;
	margin-top: 20px;
}
.home-tab{
	width: 120px;
	height: 35px;
	margin-top: 40px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 13pt;
	padding-top: 25px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.home-tab:hover {
	width: 120px;
	height: 45px;
	margin-top: 30px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 13pt;
	padding-top: 25px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.food-tab {
	width: 120px;
	height: 50px;
	margin-top: -60px;
	margin-left: 120px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.food-tab:hover {
	width: 120px;
	height: 60px;
	margin-top: -70px;
	margin-left: 120px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.cooking-tab {
	width: 120px;
	height: 50px;
	margin-top: -60px;
	margin-left: 240px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.cooking-tab:hover {
	width: 120px;
	height: 60px;
	margin-top: -70px;
	margin-left: 240px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.nutrition-tab {
	width: 120px;
	height: 50px;
	margin-top: -60px;
	margin-left: 360px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.nutrition-tab:hover {
	width: 120px;
	height: 60px;
	margin-top: -70px;
	margin-left: 360px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.recipe-tab {
	width: 120px;
	height: 35px;
	margin-top: -60px;
	margin-left: 480px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 25px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.recipe-tab:hover {
	width: 120px;
	height: 45px;
	margin-top: -70px;
	margin-left: 480px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 25px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.gizmo-tab {
	width: 120px;
	height: 50px;
	margin-top: -60px;
	margin-left: 600px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.gizmo-tab:hover {
	width: 120px;
	height: 60px;
	margin-top: -70px;
	margin-left: 600px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.pantry-tab {
	width: 120px;
	height: 48px;
	margin-top: -60px;
	margin-left: 720px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 12px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.pantry-tab:hover {
	width: 120px;
	height: 58px;
	margin-top: -70px;
	margin-left: 720px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 12px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.org-tab {
	width: 120px;
	height: 48px;
	margin-top: -60px;
	margin-left: 840px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 11pt;
	padding-top: 12px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.org-tab:hover {
	width: 120px;
	height: 58px;
	margin-top: -70px;
	margin-left: 840px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 11pt;
	padding-top: 12px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.forums-tab {
	width: 120px;
	height: 50px;
	margin-top: -60px;
	margin-left: 960px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.forums-tab:hover {
	width: 120px;
	height: 60px;
	margin-top: -70px;
	margin-left: 960px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 10px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.mystuff-tab {
	width: 120px;
	height: 35px;
	margin-top: -60px;
	margin-left: 1080px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 25px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.mystuff-tab:hover {
	width: 120px;
	height: 45px;
	margin-top: -70px;
	margin-left: 1080px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	font-size: 12pt;
	padding-top: 25px;
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,0.91) 22%, rgba(51,51,51,0.89) 26%, rgba(51,51,51,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(22%,rgba(51,51,51,0.91)), color-stop(26%,rgba(51,51,51,0.89)), color-stop(100%,rgba(51,51,51,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0.91) 22%,rgba(51,51,51,0.89) 26%,rgba(51,51,51,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#99333333',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow: 5px 5px 5px #b2afaf;
	-webkit-box-shadow: 5px 5px 5px #b2afaf;
	box-shadow: inset 5px 5px 5px #b2afaf;
	text-decoration: none;
}
.twitter {
	margin-top: -50px;
	margin-bottom: 20px;
	margin-left: 1122px;
}
.facebook {
	margin-top: -70px;
	margin-bottom: 20px;
	margin-left: 1056px;
	}
a.foot {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #960066;
	text-decoration: none;
	list-style-type: none;
	padding: .2em 1em;
}
/*a.foot:visited {
	color: #91B428;
}*/
ul.foot-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul li.foot-links {
	display: inline;
}
.footer-links {
	margin-top: -50px;
	margin-bottom: 30px;
	margin-left: 288px;
	margin-right: 162px;
}
