<div class="title-bar">
        <strong>Cooking School Lesson: Name</strong>
      </div>
      <div class="image">
        <img src="images/placeholder.jpg">
      </div>
      <div class="desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, massa sit amet rutrum convallis, sapien nunc convallis metus, 
          ac iaculis nisi tortor quis ante. Phasellus bibendum elementum lectus rhoncus adipiscing. Curabitur vehicula, orci in placerat euismod, 
          ante felis scelerisque massa, id tempus nisl nibh vel libero. Phasellus nulla eros, eleifend ut placerat id, accumsan venenatis libero. 
          Donec vel eros varius, congue diam vel, euismod odio. Morbi sit amet justo porta, tincidunt nibh vel, condimentum nisi. Morbi dapibus nisi 
          turpis. Sed ac sagittis quam, sed dignissim neque. Phasellus convallis porta odio eget dignissim. In velit ante, accumsan quis arcu et.</p>
      </div>
      <div class="menu-plan">
        menu plan image here - no, I will not make a placeholder
      </div>
      <div class="equip">
        Equipment Needed:
      </div>
      <div class="cs-tutorial">
        <strong>Cooking School Tutorial</strong>
        <!--<p class="bar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, massa sit amet rutrum convallis, sapien nunc convallis metus, 
          ac iaculis nisi tortor quis ante. Phasellus bibendum elementum lectus rhoncus adipiscing. Curabitur vehicula, orci in placerat euismod, 
          ante felis scelerisque massa, id tempus nisl nibh vel libero. Phasellus nulla eros, eleifend ut placerat id, accumsan venenatis libero. 
          Donec vel eros varius, congue diam vel, euismod odio. Morbi sit amet justo porta, tincidunt nibh vel, condimentum nisi. Morbi dapibus nisi 
          turpis. Sed ac sagittis quam, sed dignissim neque. Phasellus convallis porta odio eget dignissim. In velit ante, accumsan quis arcu et, 
          euismod tempus. <a href="" class="more">more</a></p> -->
      </div>
      <div class="video-1">
        <strong>Video:</strong>
      </div>
      <div class="rel-doc">
        <strong>Related Document</strong>
        <!--<p class="bar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, massa sit amet rutrum convallis, sapien nunc convallis metus, 
          ac iaculis nisi tortor quis ante. Phasellus bibendum elementum lectus rhoncus adipiscing. Curabitur vehicula, orci in placerat euismod, 
          ante felis scelerisque massa, id tempus nisl nibh vel libero. Phasellus nulla eros, eleifend ut placerat id, accumsan venenatis libero. 
          Donec vel eros varius, congue diam vel, euismod odio. Morbi sit amet justo porta, tincidunt nibh vel, condimentum nisi. Morbi dapibus nisi 
          turpis. Sed ac sagittis quam, sed dignissim neque. Phasellus convallis porta odio eget dignissim. In velit ante, accumsan quis arcu et, 
          euismod tempus. <a href="" class="more">more</a></p> -->
      </div>
      <div class="video-2">
        <strong>Video:</strong>
      </div>
      <div class="rel-doc">
        <strong>Related Document</strong>
        <!--<p class="bar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, massa sit amet rutrum convallis, sapien nunc convallis metus, 
          ac iaculis nisi tortor quis ante. Phasellus bibendum elementum lectus rhoncus adipiscing. Curabitur vehicula, orci in placerat euismod, 
          ante felis scelerisque massa, id tempus nisl nibh vel libero. Phasellus nulla eros, eleifend ut placerat id, accumsan venenatis libero. 
          Donec vel eros varius, congue diam vel, euismod odio. Morbi sit amet justo porta, tincidunt nibh vel, condimentum nisi. Morbi dapibus nisi 
          turpis. Sed ac sagittis quam, sed dignissim neque. Phasellus convallis porta odio eget dignissim. In velit ante, accumsan quis arcu et, 
          euismod tempus. <a href="" class="more">more</a></p> -->
      </div>
      <div class="video-3">
        <strong>Video:</strong>
      </div>
      <div class="rel-doc">
        <strong>Food Highlight</strong>
        <!--<p class="bar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, massa sit amet rutrum convallis, sapien nunc convallis metus, 
          ac iaculis nisi tortor quis ante. Phasellus bibendum elementum lectus rhoncus adipiscing. Curabitur vehicula, orci in placerat euismod, 
          ante felis scelerisque massa, id tempus nisl nibh vel libero. Phasellus nulla eros, eleifend ut placerat id, accumsan venenatis libero. 
          Donec vel eros varius, congue diam vel, euismod odio. Morbi sit amet justo porta, tincidunt nibh vel, condimentum nisi. Morbi dapibus nisi 
          turpis. Sed ac sagittis quam, sed dignissim neque. Phasellus convallis porta odio eget dignissim. In velit ante, accumsan quis arcu et, 
          euismod tempus. <a href="" class="more">more</a></p> -->
      </div>
      <div class="video-4">
        <strong>Video:</strong>
      </div>
      <div class="rel-lesson">
        Related Lessons:
      </div>
      <div class="rel-rec">
        Recipes We Know and Love:
      </div>