<!-- note: must be completely converted to angular -->

<div class="title-bar">
  <strong>Cooking School by Individual Topic</strong>
</div>
<div class="desc">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in adipiscing ligula. Mauris quam libero, pulvinar et leo aliquam, volutpat
  mattis dolor. Nunc quis ipsum id lorem bibendum bibendum. Aliquam ac est id enim volutpat vestibulum. Cum sociis natoque penatibus et magnis
  dis parturient montes, nascetur ridiculus mus. Pellentesque consequat ante ut posuere posuere. Proin sed leo eget quam pulvinar congue sit amet
  et sapien. Cras malesuada congue nisi, varius tristique neque aliquam in. Aliquam augue libero, consequat et vehicula sed, sollicitudin sed
  felis. Nunc vitae enim in ipsum auctor elementum a sed lorem. Nam pulvinar dictum vehicula. Integer sit amet urna ut nunc egestas molestie.
  Donec nibh lacus, adipiscing ac dolor non, viverra bibendum neque. Morbi id tincidunt lacus.
</div>
<div class="sub-cat">
  Dry Heat Cooking Methods
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<!--From this point forward, simply repeat all of the names, using img-5 and name-5 for the far left position, and 2-4 for the remaining 3
positions. You will not have to build anymore CSS code. Basically just copy and paste the stuff below, changing info as needed./-->
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  Moist-Heat Cooking Methods
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  The Art of Soup Making
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  Homemade Stocks &amp; Broths
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  How to Properly Cook Grains
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  Rice Basics
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  How to Properly Cook Legumes (Beans)
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  How to Properly Cook Vegetables
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  Pasta
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  Breads &amp; Doughs
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="sub-cat">
  Seasoning Foods
</div>
<div class="img-1">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-1">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>
<div class="img-5">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-5">
  Random Food
</div>
<div class="img-2">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-2">
  Random Food
</div>
<div class="img-3">
  <img src="images/season_placeholder.jpg">
</div>
<div class="name-3">
  Random Food
</div>