<form name="articleEditor" ng-submit="article.addArticle()">
  <label class="control-label">Type of Article</label>
  <select ng-model="article.newArticle.type">
      <option value="{{val}}" ng-repeat="(val, text) in article.articleOptions">
        {{text}}
      </option>
    </select>
  <input class="form-control" type="">
  <label class="control-label">Article Title</label>
  <input class="form-control" type="text" ng-model="article.newArticle.title" />
  
  <label class="control-label">Date of Publication</label>
  <input class="form-control" type="date" ng-model="article.newArticle.date" />
  
  <label class="control-label">Image Upload</label>
  <input class="form-control" type="url" />
  
  <label class="control-label">Article</label>
  <div id="epiceditor" class="form-control" ng-model="article.newArticle.content"></div>
</form>