<div class="title-bar">
  <strong>FOOD HIGHLIGHTS</strong>
</div>
<div class="description-box">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, massa sit amet rutrum convallis, sapien nunc convallis metus,
    ac iaculis nisi tortor quis ante. Phasellus bibendum elementum lectus rhoncus adipiscing. Curabitur vehicula, orci in placerat euismod,
    ante felis scelerisque massa, id tempus nisl nibh vel libero. Phasellus nulla eros, eleifend ut placerat id, accumsan venenatis libero.
    Donec vel eros varius, congue diam vel, euismod odio. Morbi sit amet justo porta, tincidunt nibh vel, condimentum nisi. Morbi dapibus nisi
    turpis. Sed ac sagittis quam, sed dignissim neque. Phasellus convallis porta odio eget dignissim. In velit ante, accumsan quis arcu et,
    euismod tempus arcu.
  </p>
</div>
<a href="" style="text-decoration: none;">
<div id="vegetables-icon">
  <strong>Vegetables</strong> </br> </br> <img class="veg-image" src="images/fh_main_place.jpg">
</div></a>
<a href="" style="text-decoration: none;">
<div id="fruits-icon">
  <strong>Fruits</strong> </br></br> <img class-"fruit-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="grains-icon">
  <strong>Whole Grains</strong> </br></br> <img class="grain-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="beans-icon">
  <strong>Legumes</strong> </br></br> <img class="grain-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="nuts-icon">
  <strong>Nuts &amp; Seeds</strong> </br></br> <img class="nuts-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="fats-icon">
  <strong>Fats &amp; Oils</strong> </br></br> <img class="fats-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="dairy-icon">
  <strong>Dairy &amp; Eggs</strong> </br></br> <img class="dairy-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="meat-icon">
  <strong>Meat &amp; Poultry</strong> </br></br> <img class="meat-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="fish-icon">
  <strong>Fish &amp; Seafood</strong> </br></br> <img class="fish-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="spice-icon">
  <strong>Spices &amp; Herbs</strong> </br></br> <img class="spice-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="cond-icon">
  <strong>Condiments &amp; Seasonings</strong> </br></br> <img class="cond-image" src="images/fh_main_place.jpg">
</div> </a>
<a href="" style="text-decoration: none;">
<div id="sugar-icon">
  <strong>Sweeteners</strong> </br></br> <img class="sugar-image" src="images/fh_main_place.jpg">
</div> </a>