<!-- note: this whole page has to be converted to angular. It is currently only a placeholder.-->

<div class="recipe-ideas">
  <span style="font-family: arial; text-align: center; font-style: italic; font-size: 16pt;"><h4>Recipes We Know &amp; Love</h4></span>
  <p>
    recipe with link </br>
    recipe with link
  </p>
</div>
<div class="image">
  <img src="images/placeholder.jpg">
</div>
<div class="food-bar">
  <h3>Food Thing Here</h3>
</div>
<div class="desc">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus odio in fermentum posuere. Curabitur mattis vulputate lectus,
    vel fringilla urna sagittis non. Donec id nunc quam. Ut volutpat ligula et mi euismod, a rhoncus sem tempus. Sed vestibulum metus
    pellentesque libero congue, et scelerisque turpis semper. Aliquam nec condimentum elit, quis eleifend odio. Cras dictum fringilla felis,
    eu laoreet ipsum tempor non. Phasellus eu pulvinar tellus, id varius nisi. Nullam vel dui consequat, mattis velit vel, tincidunt est.
  </p>
</div>
<div id="varieties-bar">
  Varieties
  <p class="bar">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus odio in fermentum posuere. Curabitur mattis vulputate lectus,
    vel fringilla urna sagittis non. Donec id nunc quam. Ut volutpat ligula et mi euismod, a rhoncus sem tempus. Sed vestibulum metus
    pellentesque libero congue, et scelerisque turpis semper. Aliquam nec condimentum elit, quis eleifend odio. Cras dictum fringilla felis,
    eu laoreet ipsum tempor non. Phasellus eu pulvinar tellus, id varius nisi. Nullam vel dui consequat, mattis velit vel, tincidunt est. <a href="" class="more">more</a>
  </p>
</div>
<div id="cook-bar">
  Basic Cooking Methods
  <p class="bar">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus odio in fermentum posuere. Curabitur mattis vulputate lectus,
    vel fringilla urna sagittis non. Donec id nunc quam. Ut volutpat ligula et mi euismod, a rhoncus sem tempus. Sed vestibulum metus
    pellentesque libero congue, et scelerisque turpis semper. Aliquam nec condimentum elit, quis eleifend odio. Cras dictum fringilla felis,
    eu laoreet ipsum tempor non. Phasellus eu pulvinar tellus, id varius nisi. Nullam vel dui consequat, mattis velit vel, tincidunt est. <a href="" class="more">more</a>
  </p>
</div>
<div id="store-bar">
  Buying &amp; Storing
  <p class="bar">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus odio in fermentum posuere. Curabitur mattis vulputate lectus,
    vel fringilla urna sagittis non. Donec id nunc quam. Ut volutpat ligula et mi euismod, a rhoncus sem tempus. Sed vestibulum metus
    pellentesque libero congue, et scelerisque turpis semper. Aliquam nec condimentum elit, quis eleifend odio. Cras dictum fringilla felis,
    eu laoreet ipsum tempor non. Phasellus eu pulvinar tellus, id varius nisi. Nullam vel dui consequat, mattis velit vel, tincidunt est. <a href="" class="more">more</a>
  </p>
</div>
<div id="theme-bar">
  Variations on a Theme
  <p class="bar">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus odio in fermentum posuere. Curabitur mattis vulputate lectus,
    vel fringilla urna sagittis non. Donec id nunc quam. Ut volutpat ligula et mi euismod, a rhoncus sem tempus. Sed vestibulum metus
    pellentesque libero congue, et scelerisque turpis semper. Aliquam nec condimentum elit, quis eleifend odio. Cras dictum fringilla felis,
    eu laoreet ipsum tempor non. Phasellus eu pulvinar tellus, id varius nisi. Nullam vel dui consequat, mattis velit vel, tincidunt est. <a href="" class="more">more</a>
  </p>
</div>
<div id="health-bar">
  Health Benefits
  <p class="bar">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus odio in fermentum posuere. Curabitur mattis vulputate lectus,
    vel fringilla urna sagittis non. Donec id nunc quam. Ut volutpat ligula et mi euismod, a rhoncus sem tempus. Sed vestibulum metus
    pellentesque libero congue, et scelerisque turpis semper. Aliquam nec condimentum elit, quis eleifend odio. Cras dictum fringilla felis,
    eu laoreet ipsum tempor non. Phasellus eu pulvinar tellus, id varius nisi. Nullam vel dui consequat, mattis velit vel, tincidunt est. <a href="" class="more">more</a>
  </p>
</div>
<div id="science-bar">
  Food Body Connection
  <p class="bar">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus odio in fermentum posuere. Curabitur mattis vulputate lectus,
    vel fringilla urna sagittis non. Donec id nunc quam. Ut volutpat ligula et mi euismod, a rhoncus sem tempus. Sed vestibulum metus
    pellentesque libero congue, et scelerisque turpis semper. Aliquam nec condimentum elit, quis eleifend odio. Cras dictum fringilla felis,
    eu laoreet ipsum tempor non. Phasellus eu pulvinar tellus, id varius nisi. Nullam vel dui consequat, mattis velit vel, tincidunt est. <a href="" class="more">more</a>
  </p>
</div>