body {
	background-image: url(images/site_background.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.centerbox {
	background-color: #FFFFFF;
	width: 1400px;
	height: 740px;
	margin-top: 30px;
	margin-left: 7px;
	margin-right: 20px;
	margin-bottom: 50px;
	border: 2px;
	border-style: solid;
	border-color: #91B428;
	border-radius: 10px;
	-webkit-box-align: center;
	-webkit-box-flex: 1.0;
}
.title-bar {
	width: 600px;
	height: 36px;
	background-color: #960066;
	-moz-box-shadow: 5px 3px 5px #B75D99, -3px -3px 5px #333333;
	-webkit-box-shadow: 5px 3px 5px #B75D99, -3px -3px 5px #333333;
	box-shadow: inset 5px 3px 5px #B75D99, inset -3px -3px 5px #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #FFFFFF;
	margin-top: 20px;
	margin-left: 10px;
	text-align: center;
	padding-top: 5px;
	letter-spacing: 1px;
}
.ingredient-list {
	width: 584px;
	border-style: solid;
	border-color: #B2AFAF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #960066;
	font-size: 15pt;
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 10px;
	padding-left: 10px
}
.subset-head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin-left: 20px;
	color: black;
}
.ingredient {
	font-size: 11pt;
	margin-left: 30px;
}
.notes {
	width: 584px;
	border-style: solid;
	border-color: #B2AFAF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #960066;
	font-size: 15pt;
	margin-left: 10px;
	margin-top: 10px;
	height: 100px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 10px;
}
.instructions {
	width: 740px;
	height: 590px;
	border-style: solid;
	border-color: #B2AFAF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #960066;
	font-size: 15pt;
	margin-left: 630px;
	margin-top: -626px;
	padding-top: 10px;
	padding-left: 10px
}
.desc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
	margin-left: 23px;
	margin-top: -17px;
}
.details {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 10pt;
	color: #333333;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-left: 10px;
}
