<div class="rec-title">
  {{list.name}}
</div>
<div class="rec-pic">
  <img src="images/placeholder.jpg">
</div>
<div class="rec-desc">
  {{list.desc}}
</div>
<div class="info">
  Recipe Information
  <li class="time-info">
    Total Cook Time: {{list.total}}
  </li>
  <li class="prep-info">
    Prep Time: {{list.prep}}
  </li>
  <li class="active-info">
    Active Cook Time: {{list.active}}
  </li>
  <li class="untend-info">
    Unattended Cook Time: {{list.untend}}
  </li>
  <li class="skills">
    Tags:
  </li>
</div>
<div class="rel-stuff">
  <ul>
    <li>
      Related Cooking School Lessons: <a href="{{list.cslink1}}">{{list.csles1}}</a>, <a href="list.cslink2">{{list.csles2}}</a>, <a href="{{list.cslink3}}">{{list.csles3}}</a>
    </li>
    <li>
      Related Food Highlights: <a href="{{link.fhlink1}}">{{list.fhles1}}</a>, <a href="{{link.fhlink2}}">{{list.fhles2}}</a>, <a href="{{list.fhlink3}}">{{list.fhles3}}</a>
    </li>
    <li>
      Related Articles: <a href="{{list.artlink1}}">{{list.artles1}}</a>, <a href="{{list.artlink2}}">{{list.artles2}}</a>, <a href="{{list.artlink3}}">{{list.artles3}}</a>
    </li>
  </ul>
</div>
<div class="purple-line">

</div>
<div class="serv-adj">
  Recipe makes {{recipe.serve}} servings

</div>
<div class="purple-line">

</div>
<div class="quick-over">
  Quick Overview
  <ol ng-repeat="item in list.quickOverviewItems">
    {{item.overview}}
  </ol>

</div>
<div class="equipment">
  Equipment Needed
  <ul ng-repeat="item in list.equipmentItems">
    {{item.thing}}
  </ul></div>
<div class="nut-info">
  <h4>Nutrition Information</h4>
   
  <img src="images/nutrition_placeholder.jpg">
</div>
<div class="icons">
  <ul>
    <li>
      <a href=""><img src="images/printer.jpg"></a> Print Recipe
    </li>
    <li>
      <a href=""><img src="images/list.jpg"></a> Print Shopping List
    </li>
    <li>
      <a href=""><img src="images/rec-box.jpg"></a> Save to My Recipe Box
    </li>
    <li>
      <a href=""><img src="images/restaurant.jpg"></a> Save to My Menu Plan
    </li>
    <li>
      <a href=""><img src="images/question.jpg"></a> Ask Questions/Comment
    </li>
    <li>
      <a href=""><img src="images/star.jpg"></a> Review
    </li>
    <li>
      <a href="mailto:?subject=I Love This Recipe! &body=You'll like this recipe I just tried at HealthFull Eating!"><img src="images/mail.jpg"></a> Email
    </li>
  </ul>
</div>
<!-- <div class="menu-plan">
  My Menu Plan 
  <div class="plan-items">
    <ul>
      <li>
        random thing
      </li>
      <li>
        random thing
      </li>
      <li>
        random thing
      </li>
      <li>
        random thing
      </li>
      <li>
        random thing
      </li>
      <li>
        random thing
      </li>
      <li>
        random thing
      </li>
      <li>
        random thing
      </li>
      <li>
        random thing
      </li>
    </ul>
  </div> -->
  <!-- Planned Leftover Ideas 
  <div class="plan-items">
    <li>
      random thing
    </li>
    <li>
      random thing
    </li>
    <li>
      random thing
    </li>
  </div> -->
<div class="food-list">
  <h2>Ingredient &amp; Shopping List</h2>
    <div class="subset-head">
      <h4>Fresh Ingredients</h4>
      <ol ng-repeat="item in list.freshIngredients">
        {{item.name}}, {{item.amount}} {{item.prep}}, {{item.special}}
      </ol>
      <h4>Pantry-Fresh</h4>
      <ol ng-repeat="item in list.pantryFreshIngredients">
        {{item.name}}, {{item.amount}} {{item.prep}}, {{item.special}}
      </ol>
      <h4>Pantry-Dry</h4>
      <ol ng-repeat="item in list.pantryDryIngredients">
        {{item.name}}, {{item.amount}} {{item.prep}}, {{item.special}}
      </ol>
      <h4>Herbs &amp; Spices</h4>
      <ol ng-repeat="item in list.herbSpices">
        {{item.name}}, {{item.amount}} {{item.prep}}, {{item.special}}
      </ol>

    </div>
    <div class="help">
      <a href="" class="help" onclick="helpPop()"><em>help</em></a>
      <script type="text/javascript">
        function helpPop() {
          window.open("ingredients_how_to.html", "Ingredients How To", "dependent=1, fullscreen=0, height=580, width=520, left=100, top=100, resizeable=0, status=0");
        }
      </script>
    </div>
</div>
<div class="purple-line"></div>
<div class="instructions">
  Instructions
  <div class="subhead">
    <em>Always read through the recipe before beginning. Prepare your mis en place.</em>
  </div>
  <ol ng-repeat="item in list.directions">
    {{item.item}}
  </ol>
</div>
<div class="purple-line"></div>
<!-- <div class="rec-recommend">
  Other Recipes You May Like...
  <div class="limg">
    <img src="images/recommend_placeholder.jpg">
    </br>Recipe
  </div>
  <div class="rimg">
    <img src="images/recommend_placeholder.jpg">
    </br>Recipe
  </div>
  <div class="limg">
    <img src="images/recommend_placeholder.jpg">
    </br>Recipe
  </div>
  <div class="rimg">
    <img src="images/recommend_placeholder.jpg">
    </br>Recipe
  </div>
</div> -->
<div class="notes">
  Cook to Cook Tips &amp; Notes
</div>
<div class="comments">
  Discussions, Questions &amp; Comments
</div>