<form name="recipeForm" >
  <div class="time-desc">
    <ul>
      <li>
        <label class="control-label">Recipe Name:</label>
        <input class="form-control" type="text" ng-model="recipe.newRecipe.name">
      </li>
      <li>
        <label class="control-label">Description:</label>
        <input class="form-control" type="text" ng-model="recipe.newRecipe.desc">
      </li>
      <li>
        <label class="control-label">Cook Time:</label>
        <input class="form-control" type="text" ng-model="recipe.newRecipe.cook">
      </li>
      <li>
        <label class="control-label">Prep Time</label>
        <input class="form-control" type="text" ng-model="recipe.newRecipe.prep" />
      </li>
      <li>
        <label class="control-label">Active Cook Time</label>
        <input class="form-control" type="text" ng-model="recipe.newRecipe.active" />
      </li>
      <li>
        <label class="control-label">Unattended Cook Time</label>
        <input class="form-control" type="text" ng-model="recipe.newRecipe.untend" />
      </li>
      <li>
        <label class="control-label">Total Time</label>
        <input class="form-control" type="text" ng-model="recipe.newRecipe.total" />
      </li>
    </ul>
  </div>
  <div class="rel-class">
    <ul>
      <li>
        <label class="control-label">Cooking School Lesson 1</label>
        <input class="form-control" type="text" placeholder="lesson name" ng-model="recipe.newRecipe.csles1">
        <input class="form-control" type="text" placeholder="lesson link" ng-model="recipe.newRecipe.cslink1">
      </li>
      <li>
        <label class="control-label">Cooking School Lesson 2</label>
        <input class="form-control" type="text" placeholder="lesson name" ng-model="recipe.newRecipe.csles2">
        <input class="form-control" type="text" placeholder="lesson link" ng-model="recipe.newRecipe.cslink2">
      </li>
      <li>
        <label class="control-label">Cooking School Lesson 3</label>
        <input class="form-control" type="text" placeholder="lesson name" ng-model="recipe.newRecipe.csles3">
        <input class="form-control" type="text" placeholder="lesson link" ng-model="recipe.newRecipe.cslink3">
      </li>
      <li>
        <label class="control-label">Food Highlight Lesson 1</label>
        <input class="form-control" type="text" placeholder="lesson name" ng-model="recipe.newRecipe.fhles1">
        <input class="form-control" type="text" placeholder="lesson link" ng-model="recipe.newRecipe.fhlink1">
      </li>
      <li>
        <label class="control-label">Food Highlight Lesson 2</label>
        <input class="form-control" type="text" placeholder="lesson name" ng-model="recipe.newRecipe.fhles2">
        <input class="form-control" type="text" placeholder="lesson link" ng-model="recipe.newRecipe.fhlink2">
      </li>
      <li>
        <label class="control-label">Food Highlight Lesson 3</label>
        <input class="form-control" type="text" placeholder="lesson name" ng-model="recipe.newRecipe.fhles3">
        <input class="form-control" type="text" placeholder="lesson link" ng-model="recipe.newRecipe.fhlink3">
      </li>
      <li>
        <label class="control-label">Related Articles 1</label>
        <input class="form-control" type="text" placeholder="lesson name" ng-model="recipe.newRecipe.artles1">
        <input class="form-control" type="text" placeholder="lesson link" ng-model="recipe.newRecipe.artlink1">
      </li>
      <li>
        <label class="control-label">Related Articles 2</label>
        <input class="form-control" type="text" placeholder="lesson name" ng-model="recipe.newRecipe.artles2">
        <input class="form-control" type="text" placeholder="lesson link" ng-model="recipe.newRecipe.artlink2">
      </li>
      <li>
        <label class="control-label">Related Articles 3</label>
        <input class="form-control" type="text" placeholder="lesson name" ng-model="recipe.newRecipe.artles3">
        <input class="form-control" type="text" placeholder="lesson link" ng-model="recipe.newRecipe.artlink3">
      </li>
    </ul>
  </div>
  <div class="over">
    <button class="quick">Add Quick Overview Item</button>
    <ul>
      <div class="quickTarget">
        
      </div>
    </ul>
  </div>
  <div class="equipment">
    <button class="equip">Add Equipment Item</button>
    <ul>
      <div class="equipTarget">
        
      </div>
    </ul>
  </div>
</form>